
h1{
    text-align: center;
    margin: 10px 0px;
    font-family: 'Signika Negative', sans-serif;
}
h2{
    color: black;
    font-size: 30px;
    font-family: ubuntu;
    font-weight: 700;
}
h3{
    font-size: 25px;
    color: black;
}
p{
    font-size: 17px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container img:hover{
    box-shadow: 10px 10px 10px black;
    transition: all 0.7s ease-in-out;
}
.fst{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px;
    border-left-style: none;
    border-right-style: none;
}
.fstimg img{
    border-radius: 10px;
    margin: 15px 25px 15px 15px;
    height: 300px;
    width: 300px;
}
.snd{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px;
    border-left-style: none;
    border-right-style: none;
}
.sndimg img{
    border-radius: 10px;
    margin: 15px 25px 15px 15px;
    height: 300px;
    width: 300px;
}
.trd{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px;
    border-left-style: none;
    border-right-style: none;
}

.trdimg img{
    border-radius: 10px;
    margin: 15px 25px 15px 15px;
    height: 300px;
    width: 300px;
}
.frth{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
    padding: 10px;
    border-left-style: none;
    border-right-style: none;
}

.frthimg img{
    border-radius: 10px;
    margin: 15px 25px 15px 15px;
    height: 300px;
    width: 300px;
}

/* Responsiveness */
@media screen and (max-width:850px) {
    
    .container{
        flex-direction: column;
        justify-content: center;
        padding: 0;
        align-items: center;
    }
    .container img:hover{
        box-shadow: none;
    }
    .fst, .snd, .trd, .frth{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left{
        padding: 0;
        height: 40vh;
    }
    .right{
        padding: 0;
        height: max-content;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    p{
        padding: 0px 10px;
        text-align: center;
    }
    section img{
        width: 100%;
    }
    .first-line{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first{
        width: 90%;
        height: max-content;
        padding: 10px;
        margin: 10px 0px;
    }
    
}
