
/* Heading Tags */
h1{
    text-align: center;
    margin: 10px 0px;
    font-family: 'Signika Negative', sans-serif;
}
h2{
    color: white;
    background-color: rgba(76, 0, 130, 0.500);
    font-size: 30px;
    text-align: center;
    padding: 10px 0px;
}

section img{
    max-width: 100%;
}
img:hover{
    transition: opacity ease-in-out 0.5s;
    opacity: 0.8;
}
.card{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border: none;
}
.result-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px 70px;
}

.image-box{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-bottom: 50px;
}

.image-box img{
    width: 100%;
    max-height: 220px;
    object-fit: cover;
}

.image-box:hover img{
    transition: opacity ease-in-out 0.3s;
    opacity: 0.8;
    cursor: pointer;
}

.image-box:hover a{
    text-decoration: underline;
}

.image-box a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    display: block;
    text-transform: capitalize;
}

/* Responsiveness */
@media screen and (max-width:850px) {
    .container{
        flex-direction: column;
        justify-content: center;
        padding: 0;
        align-items: center;
    }

    h1{
        text-align: center;
        padding: 0px 2px;
    }
    h2{
        text-align: center;
        padding: 0px 2px;
    }
    section img{
        width: 100%;
    }
}

@media screen and (max-width: 1150px){
    .image-box{
        width: 40%;
    }
}

@media screen and (max-width: 800px){
    .image-box{
        width: 90%;
    }
}

@media screen and (max-width:550px){
    .result-box{
        margin: 0px;
    }
}

@media screen and (max-width:400px) {
    h1{
        font-size: 30px;
    }
    .image-box{
        width: 100%;
    }
}