/* First Section Home */
.contain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left p{
    font-size: 17px;
    font-weight: 500;
    padding: 0px 20px;
    text-align: center;
    margin: 10px 0px;
}
.left h1{
    color: black;
    font-family: 'Signika Negative', sans-serif;
    font-size: 40px;
    margin: 0px 0px 20px 0px;
}

.left h1 #nd{
    color: #00abee;
}

.left h1 #rd{
    color: salmon;
}

.left h3{
    color: grey;
}

.subcon{
    display: flex;
    flex-direction: row;
}
.subcon a{
    margin: 20px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color: indigo;
    border-radius: 20px;
}
.subcon a:hover{
    background-color:royalblue;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.right img{
    width: 100%;
    opacity: 5;
}


/* Responsiveness */
/* Updated */
@media screen and (max-width:850px) {

    .contain{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0px 0px 20px 0px;
        align-items: center;
    }
    .left{
        padding: 0;
        width: 100%;
    }
    .right{
        padding: 0;
        height: max-content;
        width: 100%;
    }
    h1{
        text-align: center;
        padding: 0px 2px;
    }
    h2{
        text-align: center;
        padding: 0px 2px;
    }
    section img{
        width: 100%;
    }
    .first-line{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first{
        width: 90%;
        height: max-content;
        padding: 10px;
        margin: 10px 0px;
    }
}