
.contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
.content{
    width: 50vw;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h2{
    color: slateblue;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Signika Negative', sans-serif;
}
.content .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: darkslategray;
    border-radius: 5px 0px 0px 5px;
}
.left form{
    width: 100%;
    padding: 15px;
    margin: 5px;
}
.content .right{
    display: flex;
    width: 50%
}

.right img{
    width: 100%;
}
.header{
    text-align: center;
    font-size: 40px;
}
.left form p{
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    font-weight:normal;
    color: white;
    margin: 5px 0px;
}
.content input[type="text"],
.content input[type="email"],
.content input[type="password"]{
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
    font-size: 17px;
    border: none;
    border-radius: 3px;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.content input[type="submit"]{
    background-color:royalblue;
    color: white;
    width: 120px;
    border: none;
    border-radius: 4px;
    padding: 7px;
    margin: 20x;
    font-size: 18px;
    font-family: 'Signika Negative', sans-serif;
}
.content input[type="submit"]:hover{
    background-color: green;
    transition: all .5s;
    cursor: pointer;
}

.google,
.facebook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}
.google button,
.facebook button{
    width: 100%;
    padding: 10px 0px;
    background-color: rgba(255, 255, 255, 0.900);
    border: none;
    border-radius: 3px;
    font-size: medium;
    font-weight: 550;
}
.google button:hover,
.facebook button:hover{
    background-color:cornflowerblue;
    cursor: pointer;
    color: white;
    transition: all .5s;
}

/* Responsiveness */
@media screen and (max-width:700px) {
    .content{
        flex-direction: column;
        justify-content: center;
        padding: 0;
        align-items: center;
        width: 100%;
        min-width: 100px;
    }
    .content .left{
        padding: 10px 0px;
        width: 90%;
        border-radius: 5px;
    }
    .content .left form{
        width: 90%;
    }
    .content .right{
        width: 100%;
    }
    img{
        width: 100%;
    }
}